header {
  padding: 5px 20px;
  background-image: url("http://occ-0-1413-1412.1.nflxso.net/dnm/api/v6/6AYY37jfdO6hpXcMjf9Yu5cnmO0/AAAABZRzrdrgF5Z59V8FJFAzWG-s7kX-OqTS1dnLAIch8Sm2ySruAH88YefXwgrUwEiQItFNPAh0Dz3rYhGThz1X3DGAuhq8wSCTXQgP.jpg?r=4a0");
  background-size: cover;
}

.header__top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_top-right,
.header_top-left {
  display: flex;
  align-items: center;
}

.header_top-right img {
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
}

.header-icon {
  font-size: 35px;
  padding: 0 5px;
  cursor: pointer;
}

i {
  color: white;
  padding: 10px;
}

#play {
  color: black;
  padding: 5px;
}

h1 {
  display: inline-block;
}

.red {
  color: var(--red);
}
.gray {
  color: var(--gray);
}

span {
  color: white;
  padding: 10px;
}

#browse {
  cursor: pointer;
}

.play {
  background-color: white;
  color: black;
  padding: 10px;
  border: none;
  margin: 10px;
  border-radius: 8px;
  cursor: pointer;
}

.more-info {
  background-color: #362d2d;
  color: white;
  /* opacity: 0.8; */
  border-radius: 8px;
  padding-right: 5px;
  border: none;
  cursor: pointer;
}

.head-main__left-section {
  width: 40px;
}

.tooltip-wrapper {
  position: relative;
}

.tooltip {
  position: absolute;
  background-color: black;
  opacity: 0.9;
  top: 40px;
  display: none;
}

/* .tooltip-browse {
  position: absolute;
  background-color: black;
  opacity: 0.9;
  top: 40px;
  right: 10px;
  display: none;
} */

.tooltip-wrapper:hover .tooltip {
  display: block;
}

.tooltip ul {
  list-style-type: none;
}

.tooltip li {
  padding: 5px 10px;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.tooltip li img,
.tooltip li .icon {
  margin-right: 10px;
}

.tooltip-sign-out {
  padding: 20px;
  text-align: center;
  white-space: nowrap;
}

.tooltip-icon {
  padding-right: 5px;
}

.browse-dropdown li {
  display: flex;
  justify-content: center;
  white-space: nowrap;
}

.tooltip.right {
  right: 0px;
  left: auto;
}

.tooltip.browse {
  left: 0px;
  right: auto;
}
