.movie-modal {
  position: absolute;
  z-index: 100;
  width: 0;
}

.movie-details {
  width: 100%;
  background-color: black;
  padding: 10px;
  position: relative;
  z-index: 1;
  transition: all 0.2s linear;
}

.movie-modal img {
  width: 100%;
}

.movie-modal-transition-enter {
  transform: scale(1);
  width: 225px;
}
.movie-modal-transition-enter-active {
  transform: scale(1.5);
  transition: all 300ms;
  width: 225px;
}
.movie-modal-transition-enter-done {
  width: 225px;
  transform: scale(1.5);
}
.movie-modal-transition-exit {
  transform: scale(1.5);
  transition: scale 300ms;
  width: 225px;
}
.movie-modal-transition-exit-active {
  transform: scale(1);
  transition: all 300ms;
  width: 225px;
}
