.movie-row {
  margin: 30px 0px;
}

.images-container {
  padding-left: 10px;

  display: flex;
  /* justify-content: center; */
  position: relative;
  margin-top: 10px;
  overflow: hidden;
}

.images-container:hover .left-arrow,
.images-container:hover .right-arrow {
  display: flex;
}

img {
  height: 100%;
}

.left-arrow,
.right-arrow {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  align-items: center;
  font-size: 30px;
  padding: 20px;
  z-index: 2;
}

.left-arrow:hover,
.right-arrow:hover {
  font-size: 40px;
  background-color: rgb(0, 0, 0, 0.3);
}

.left-arrow {
  left: 0;
}

.right-arrow {
  right: 0;
}
